@model OlympicGames.Domain.Country

@{
    ViewBag.Title = "Details";
}

<div>
    <i class="glyphicon glyphicon-chevron-left"></i> @Html.ActionLink("Back to Country List", "Index")
</div>

<h2>Details</h2>

<img src="/Images/flag.png" class="country-flag-small"/>

<h3>@Model.Name</h3>
<p>Country Code: @Model.CountryCode</p>
