@model OlympicGames.Domain.Article

@{
    ViewBag.Title = "ReadMore";
}

<div>
    <i class="glyphicon glyphicon-chevron-left"></i> @Html.ActionLink("Back to News List", "Index")
</div>

<h3>@Model.ArticleName</h3>
<h6>Created: @Model.Created</h6>
<p>@Model.Text</p>